.tt span {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 0px 4px;
    margin: 20px;

    /* Position the tt */
    position: absolute;
    z-index: 1;
}

.tt:hover {
    background-color: yellow;

    span {
        visibility: visible;
    }
}
